h1 {
  color: #fff;
  font-size: 3rem;
}
p {
  color: #fff;
  margin: 1rem;
}

.footLink {
  color: white;
  margin-right: 1.5rem;
  text-decoration: none;
}

.footLink:hover {
  color: blue;
}
.whiteNavLink {
  color: white;
}
